

header {
  border: 3px solid black;
  font-size: 20px;
  text-align: center;
  height: 250px;
  font-size: 25px;
  width: 80%;
  margin: 15 auto;
  background: url('https://lh3.ggpht.com/RHKkf_YzgC24WVjefBEHCVwZ1alzcA15oQgfsFd0tcgQo3_fgxFmLbyIGECcrZBD4KsJ=s180-rw')no-repeat center 80px white;

  

}

#underscore {

  border: 3px solid rgb(49, 20, 20);
  font-size: 100px;
  text-align: center;
  height: 150px;
  font-size: 70px;
  width: 80%;
  margin: 15 auto;
  background: lightcoral
  

}

.right-guess {

  border: 3px solid black;
  font-size: 40px;
  text-align: center;
  height: 100px;
  font-size: 25px;
  width: 80%;
  margin: 15 auto;
  

}

.wrong-guess {

  border: 3px solid black;
  font-size: 40px;
  text-align: center;
  height: 150px;
  font-size: 25px;
  width: 80%;
  margin: 15 auto;
  

}